/* здесь используйте глобальные селекторы img, body, html и так далее */

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

.page__body {
  margin: auto 20px;
}

a {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page__body {
    margin: auto 30px;
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    margin: auto 110px;
  }
}
