/* здесь используйте глобальные переменные */
$base-color-text: #444444;

$color-basic-green: #68b738;

$tablet-width: 768px;
$mobile-width-max: 767px;
$desktop-width: 1440px;
$tablet-width-max: 1439px;
