.add-catalog__list {
  padding: 19px 0;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 20px;
  width: 280px;
  margin: auto;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 708px;
    gap: 31px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 82px 0 0;
    flex-direction: row;
    gap: 80px;
    width: 1220px;
    margin: auto;
  }
}

.add-catalog__item {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 23px 0;
  padding: 23px 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 240px;
    grid-template-rows: repeat(3, auto);
    padding: 77px 63px 53px 53px;
    gap: 24px 10px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 152px 1fr;
    gap: 10px;
    padding: 47px 52px 55px;
    max-width: 466px;
  }
}

.add-catalog__item::before {
  content: "";
  background-color: #f2f2f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 67px;
  height: 50px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    grid-column: 2/3;
    grid-row: 1/-1;
    justify-self: end;
  }
}

.add-catalog__item--lose::before {
  background-image: url("../../icons/stack.svg#cat-back");
  background-size: 50px 53px;
  background-repeat: no-repeat;
  background-position: left;

  @media (min-width: $tablet-width) {
    background-size: 200px 211px;
    margin-top: 4px;
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    background-size: 100px 106px;
    width: 100px;
    height: 106px;
    margin-top: -6px;
  }
}


.add-catalog__item--gain::before {
  background-image: url("../../icons/stack.svg#tiger-back");
  background-size: 67px 50px;
  background-repeat: no-repeat;
  margin-left: -7px;

  @media (min-width: $tablet-width) {
    background-size: 268px 200px;
    width: 268px;
    height: 200px;
    margin-left: 0;
    margin-right: -34px;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 100px;
    width: 134px;
    height: 100px;
    margin-left: -15px;
    margin-right: 0;
  }
}

.add-catalog__title {
  margin: 0;
  align-self: center;
  font-family: "Oswald","Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.add-catalog__description {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
  margin: 0;
  text-align: left;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    grid-area: unset;
  }
}


.add-catalog__link {
  grid-column: 1/-1;
  padding-top: 19px;
  display: flex;
  text-decoration: none;
  align-items: center;
  font-family: "Oswald","Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  gap: 15px;

  @media (min-width: $tablet-width) {
    color: #000000;
    gap: 25px;
    font-size: 20px;
    line-height: 1.5em;
    border: none;
    padding-top: 28px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    grid-area: unset;
    justify-self: start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.add-catalog__link::after {
  content: "";
  background-color: #f2f2f2;
  background-image: url("../../icons/stack.svg#arrow");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 10px;
  display: block;
}
