.add-catalog {
    background-color: #f2f2f2;
}

.add-catalog__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: #000000;
  }

  .add-catalog__description {
    font-size: 14px;
    line-height: 18px;
    color: $base-color-text;
    text-align: left;
  }

  .add-catalog__item::before {
    content: "";
    background-color:#f2f2f2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 67px;
    height: 50px;
    display: block;
  } 

  .add-catalog__item--lose::before {
    background-image: url(../../icons/stack.svg#cat-back);
    background-size: 50px 53px;
    background-repeat: no-repeat;
  }

  .add-catalog__item--gain::before {
    background-image: url(../../icons/stack.svg#tiger-back);
    background-size: 67px 50px;
    background-repeat: no-repeat;
  }

  .add-catalog__link {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #000000; 
  }

  .add-catalog__link::after {
    content: "";
    background-color: #f2f2f2;
    background-image: url(../../icons/stack.svg#arrow);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 12px;
    display: block;
  }

  .add-catalog__link::after:is(:hover, :active, :focus)::after {
    transform: scaleX(1.35px);
    transform-origin: left;
  }