.email-form {
  width: 280px;
  margin: auto;
  position: relative;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 77px auto 80px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 96px auto 104px;
  }
}

.email-form::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  left: 0;
  z-index: -1;
  height: 2px;
  margin: 0 -20px 0 0;
  background-color: #68b738;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    top: 14px;
    margin: 0 -30px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
    margin: 0 -110px;
  }
}


.email-form__title {
  color: #000000;
  margin-top: 40px;
  z-index: 1;
  background-color: #ffffff;
  width: 192px;


  @media (min-width: $tablet-width) {
    margin-top: 14px;
    width: 242px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 293px;
    margin-left: -40px;
  }
}


.email-form__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.email-form__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: auto;
  padding: 32px 0 24px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    width: 632px;
    margin: auto;
    padding: 66px 0 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 32px;
    padding: 72px 0 24px;
  }
}

.email-form__field {
  display: flex;
  flex-flow: column wrap;
  gap: 16px 0;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}


.email-form__input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding: 12px;

  @media (min-width: $tablet-width) {
    min-width: 356px;
    padding: 13px 11px;
  }

  @media (min-width: $desktop-width) {
    min-width: 470px;
    padding: 1px 13px;
  }
}

.email-form__button {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    min-width: 250px;
    padding: 15px 70px;
  }
}
