.footer {
  padding: 0;
  display: flex;
  flex-direction: column;
  // margin: auto;
  position: relative;
}

.footer-catalog {
  background-color: #f2f2f2;
}

.footer__address-wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
    width: 1440px;
    margin: auto;
  }
}

.footer__address {
  display: flex;
  margin: auto;
  width: 280px;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 60px 70px;
    margin: auto;
    width: 628px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 78px;
    width: 407px;
    position: absolute;
    margin-top: 95px;
    margin-left: 110px;
  }
}

.footer-catalog .footer__address {
  @media (max-width: $tablet-width-max) {
    background-color: #f2f2f2;
  }
}

.address__text {
  margin: auto;
  width: 140px;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.address__title {
  width: 140px;
  text-align: left;
}

.footer__map {
  background-color: #f2f2f2;
  min-width: 100%;
  height: 362px;
  width: 320px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-image: url("../../images/location-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/location-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 400px;
    margin: auto;
    width: 768px;
    background-image: url("../../images/location-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/location-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    width: 1440px;
    background-image: url("../../images/location-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/location-desktop@2x.jpg");
    }
  }
}

.footer iframe {
  border: none;
  display: block;
}

.footer__wrapper {
  background-color: #f2f2f2;
}

.footer__logo-wrapper {
  margin: 0;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    // flex-direction: row;
    align-items: center;
    margin: 55px auto;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    margin: 68px auto;
    width: 1220px;
  }
}

.footer__logo {
  @media (max-width: $mobile-width-max) {
    background-color: #f2f2f2;
    padding: 40px 0 16px;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    width: 280px;
    margin: auto;
  }

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin-right: 35px;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__social {
  @media (max-width: $mobile-width-max) {
    padding: 0 20px;
    background-color: #f2f2f2;
    width: 280px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.social__list {
  display: flex;
  margin: 0;
  padding: 20px 74px;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
    width: 132px;
  }
}

.footer__link {
  @media (max-width: $mobile-width-max) {
    padding: 19px 20px 40px;
    width: 280px;
    margin: auto;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  color: #444444;

  @media (min-width: $tablet-width) {
    padding-left: 5px;
  }
}

.footer__copyright::after {
  content: "";
  background-position: center center;
  background-image: url("../../icons/stack.svg#htmlacademy");
  background-repeat: no-repeat;
  background-size: contain;
  width: 27px;
  height: 34px;
  display: block;
  margin-left: 23px;
}
