.footer {
  background-color: #f2f2f2;
}

.footer__logo {
  background-color: #f2f2f2;
}

.footer__copyright {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
}

.footer__copyright::after {
  content: "";
  background-position: center center;
  background-image: url("../../icons/stack.svg#htmlacademy");
  background-repeat: no-repeat;
  background-size: contain;
  width: 27px;
  height: 34px;
  display: block;
}
