.footer {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 320px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.footer__address {
  display: flex;
  padding: 26px 20px;
  margin: auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 60px 70px;
    margin: auto;
    width: 628px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 78px;
    width: 407px;
    position: absolute;
    margin-top: 95px;
    margin-left: 110px;
  }
}

.address__text {
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.address__title {
  width: 140px;
  text-align: left;
}

.footer__map {
  background-color: #f2f2f2;
  min-width: 100%;
  height: 362px;
  width: 320px;
  margin: auto;

  @media (min-width: $tablet-width) {
    min-height: 400px;
    margin: auto;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    width: 1440px;
  }
}

.footer iframe {
  border: none;
  display: block;
}

.footer__logo-wrapper {
  margin: auto;
  width: 320px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 55px 30px;
    margin: auto;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
    margin: auto;
    width: 1220px;
  }
}

.footer__logo {
  margin: 0 20px;
  background-color: #f2f2f2;
  padding: 40px 0 20px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
}

.footer__social {
  padding: 0 20px;
  margin: 0;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__list {
  display: flex;
  margin: 0;
  padding: 20px 74px;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
    width: 132px;
  }
}

.footer__link {
  margin: 0;
  padding: 20px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 168px;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}

.footer__copyright::after {
  content: "";
  background-position: center center;
  background-image: url("../../icons/stack.svg#htmlacademy");
  background-repeat: no-repeat;
  background-size: contain;
  width: 27px;
  height: 34px;
  display: block;
}
