.lose {
  background-color: #f2f2f2;
}

.lose__image {
  display: block;

}

.lose__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
}

.lose__description {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

.lose__link {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000; 
}

.lose__link:active {
  opacity: 0.3; 
}
 .lose__link-arrow {
  mask-image: url(../../icons/stack.svg#arrow);
  display: inline-block;
  background-color:#000000;
  mask-position: left center;
  mask-repeat: no-repeat;
  mask-size: 24px 12px;
}

.lose__link-arrow:hover {
  mask-size: 32px 10px;
}

.lose__link-arrow:active {
  mask-position: left;
  mask-repeat: no-repeat;
  mask-size: 32px 10px;
  opacity: 0.3;
}
