.more-catalog {
  padding: 10px 0 15px;

  @media (min-width: $tablet-width) {
    padding: 40px 0;
  }
}

.more-catalog__title {
  margin-top: 14px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    margin-bottom: 80px;
  }
}

.more-catalog__text {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.more-catalog__wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-width) {
    gap: 70px;
  }

  @media (min-width: $desktop-width) {
    flex-flow: row wrap;
    gap: 80px;
  }
}

.more-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 895px;
  }
}

.more-catalog__item {
  border-top: 1px solid #cdcdcd;
  padding: 13px 0 18px;

  @media (min-width: $tablet-width) {
    padding: 27px 38px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 16px;
  }
}

.more-catalog__item:last-of-type {
  border-bottom: 1px solid #cdcdcd;
}


.more-catalog__promotion {
  background-color: #68b738;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 290px;


  @media (min-width: $tablet-width) {
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    flex-shrink: 1;
  }
}

.more-catalog__description {
  margin: 0;
  padding: 42px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 56px 125px 56px 78px;
    text-align: left;
  }
}

.more-catalog__description::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon-gift");
  background-color: #68b738;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 78px;
  height: 80px;
  display: block;
  margin: 15px auto  48px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    margin: 0;
  }
}
