.nav__toggle {
  background-image: url("../../icons/stack.svg#logo-menu");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: contain;
  width: 24px;
  height: 24px;
  border: none;
}

.nav__wrapper {
  background-color: #ffffff;
}
