.program {
  position: relative;

  @media (max-width: 767px) {
    width: 320px;
    margin: auto;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    min-height: 580px;
    margin: auto;
    padding: 0;
  }
}

.program::before {
  content: "";
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 302px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-image: url("../../images/index-background-mobile@2x.jpg");

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.program__title {
  width: 250px;
  margin: auto;
  padding-top: 27px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
    width: 416px;
    margin-left: 120px;
    margin-top: 65px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 416px;
    margin: 0;
    padding: 110px 0 0 190px;
  }
}

.program__slogan {
  margin: 25px auto 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  width: 200px;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    width: 285px;
    margin: 40px 0 0 120px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 190px;
  }
}

.program__image {
  margin: 29px 0 0 20px;
  width: 320px;
  display: block;


  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    margin: 21px auto 0;
    height: 609px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 29px;
    left: 557px;
    margin: 0;
    z-index: -1;
  }
}

.program__button {
  width: 280px;
  padding: 10px 0;
  margin: auto;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 230px;
    left: 120px;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 0;
    width: 244px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-left: 190px;
    margin-top: 52px;
  }
}
