.work {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding: 25px 0 69px;
    width: 708px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 0 47px;
    width: 1220px;
    justify-content: start;
  }
}

.work__title {
  width: 280px;
  margin: auto;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    width: 708px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: auto;
  }
}


.work__list {
  list-style: none;
  padding: 0;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    flex-flow: row wrap;
    gap: 37px;
    justify-content: space-between;
    margin-right: 79px;
  }

  @media (min-width: $desktop-width) {
    flex-flow: row nowrap;
    margin: 32px 0 0;
    justify-content: space-between;
  }
}

.work__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: start;
    gap: 31px;
    width: 230px;
    height: 280px;
  }
}

// .work__item:last-child {
//   margin-bottom: 0;
// }

.work__item::before {
  content: "";
  background-color: #68b738;
  background-position: center center;
  background-size: contain;
  width: 60px;
  height: 60px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.work__item--leaf::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
  background-repeat: no-repeat;
}

.work__item--botle::before {
  background-image: url("../../icons/stack.svg#icon-botle");
  background-size: 25px 28px;
  background-repeat: no-repeat;
}

.work__item--eat::before {
  background-image: url("../../icons/stack.svg#icon-eat");
  background-size: 25px 30px;
  background-repeat: no-repeat;
}

.work__item--time::before {
  background-image: url("../../icons/stack.svg#icon-time");
  background-size: 26px 31px;
  background-repeat: no-repeat;
}

.work__description {
  margin: 0;
  width: 200px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
