
.work__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.work__description {
  text-align: left;
}

.work__item::before {
  content: "";
  background-color: #68b738;
  background-position: center center;
  background-size: contain;
  width: 60px;
  height: 60px;
  display: block;
}

.work__item--leaf::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
  background-repeat: no-repeat;
}

.work__item--botle::before {
  background-image: url("../../icons/stack.svg#icon-botle");
  background-size: 25px 28px;
  background-repeat: no-repeat;
}

.work__item--eat::before {
  background-image: url("../../icons/stack.svg#icon-eat");
  background-size: 25px 30px;
  background-repeat: no-repeat;
}

.work__item--time::before {
  background-image: url("../../icons/stack.svg#icon-time");
  background-size: 26px 31px;
  background-repeat: no-repeat;
}
